<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("About")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <div id="content" role="main" class="content-area">

		
			<div class="container section-title-container" style="margin-top:30px;"><h1 class="section-title section-title-center"><b></b><span class="section-title-main" style="color:rgb(19, 88, 127);">DOTB EMS - Hệ thống quản lý trung tâm đào tạo</span><b></b></h1></div><!-- .section-title -->
	<section class="section" id="section_1750979837">
		<div class="bg section-bg fill bg-fill bg-loaded">

			
			
			

		</div><!-- .section-bg -->

		<div class="section-content relative">
			
<div class="row" id="row-1854519453">
<div class="col small-12 large-12"><div class="col-inner">
<div class="container section-title-container"><h3 class="section-title section-title-center"><b></b><span class="section-title-main" style="color:rgb(19, 88, 127);">DotB là ai ?</span><b></b></h3></div><!-- .section-title -->
<p><span style="font-size: 100%; color: #00698f;"><a href="https://dotb.vn/">DotB</a> là <a href="https://dotb.vn/he-thong-crm-la-gi/">hệ thống CRM</a>&nbsp; <a href="https://crmedu.vn/" rel="nofollow">quản lý chuyên sâu cho lĩnh vực đào tạo</a>. DotB <a href="https://dotb.vn/he-thong-crm-la-gi/">CRM</a> đã triển khai tại thành công cho các trung tâm đào tạo hàng đầu Việt Nam. Chúng tôi được đánh giá là giải pháp phù hợp với các trung tâm đào tạo có quy mô, quy trình hoạt động từ nhỏ đến lớn. Chúng tôi CAM KẾT mang đến giải pháp TỐT NHẤT với chi phí PHÙ HỢP NHẤT.</span></p>
<p><span style="font-size: 100%; color: #00698f;"><a href="https://dotb.vn/">DotB</a> được xây dựng, phát triển với tầm nhìn và định hướng là một<a href="https://crmedu.vn/" rel="nofollow"> hệ thống Quản lý</a>, Điều hành &amp; Thông tin liên lạc (All in one) đáp ứng tất cả các yêu cầu &amp; nghiệp vụ của một trung tâm ngoại ngữ (tiếng Anh, tiếng Trung…), ngoại khóa (kỹ năng, gia sư, âm nhạc, nghệ thuật…) từ quy mô vừa &amp; nhỏ cho đến các hệ thống trung tâm lớn.</span></p>
</div></div>

<style scope="scope">

</style>
</div>
		</div><!-- .section-content -->

		
<style scope="scope">

#section_1750979837 {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: rgb(228, 245, 251);
}
</style>
	</section>
	
	<section class="section" id="section_2060336443">
		<div class="bg section-bg fill bg-fill bg-loaded">

			
			
			

		</div><!-- .section-bg -->

		<div class="section-content relative">
			
<div class="row" id="row-1143954475">
<div class="col medium-6 small-12 large-6"><div class="col-inner">
	<div class="img has-hover x md-x lg-x y md-y lg-y" id="image_112977728">
						<div data-animate="fadeInLeft" data-animated="true">		<div class="img-inner image-cover box-shadow-5-hover dark">
			<img loading="lazy" width="626" height="417" src="https://dotb.vn/wp-content/uploads/5.jpg" class="attachment-large size-large lazyloaded" alt="" data-lazy-src="https://dotb.vn/wp-content/uploads/5.jpg" data-was-processed="true"><noscript><img width="626" height="417" src="https://dotb.vn/wp-content/uploads/5.jpg" class="attachment-large size-large" alt="" /></noscript>						
					</div>
		</div>						
<style scope="scope">

#image_112977728 {
  width: 100%;
}
</style>
	</div>
	
</div></div>
<div class="col medium-6 small-12 large-6"><div class="col-inner">
<div class="container section-title-container"><h4 class="section-title section-title-normal"><b></b><span class="section-title-main" style="color:rgb(19, 88, 127);">Tầm nhìn tương lai</span><b></b></h4></div><!-- .section-title -->
<p><span style="color: #0d5b80;">Trở thành nhà cung <a href="https://dotb.vn/he-thong-crm-la-gi/">giải pháp CRM</a> chuyên sâu cho các ngành dịch vụ hàng đầu Việt Nam và mở rộng thị trường CHÂU Á THÁI BÌNH DƯƠNG.</span><br>
<span style="color: #0d5b80;">Trong đó trọng tâm là các ngành:</span></p>
<ul>
<li><span style="color: #0d5b80;">GIÁO DỤC</span></li>
<li><span style="color: #0d5b80;">BẤT ĐỘNG SẢN</span></li>
<li><span style="color: #0d5b80;">CHĂM SÓC SỨC KHỎE, CLINIC, SPA</span></li>
</ul>
</div></div>
</div>
<div class="row align-center" id="row-1357158310">
<div class="col small-12 large-12"><div class="col-inner text-center">
<div class="container section-title-container"><h4 class="section-title section-title-center"><b></b><span class="section-title-main" style="color:rgb(19, 88, 127);"><i class="icon-heart"></i>Sứ mệnh của chúng tôi</span><b></b></h4></div><!-- .section-title -->
<p style="text-align: center;">Chúng tôi nỗ lực từng giây để tối ưu hệ thống với mong muốn mang đến trải nghiệm tốt nhất cho người dùng.</p>
<p style="text-align: center;">Giúp việc giáo dục trở nên tốt đẹp hơn -“<strong><span style="color: #00698f;">Make Education GREATER</span></strong>”- Đó là sứ mệnh mà chúng tôi cùng theo đuổi.</p>
	<div class="img has-hover x md-x lg-x y md-y lg-y" id="image_774170914">
								<div class="img-inner dark">
			<img loading="lazy" width="1200" height="800" src="https://dotb.vn/wp-content/uploads/education.png" class="attachment-large size-large lazyloaded" alt="" data-lazy-srcset="https://dotb.vn/wp-content/uploads/education.png 1200w, https://dotb.vn/wp-content/uploads/education-768x512.png 768w" data-lazy-sizes="(max-width: 1200px) 100vw, 1200px" data-lazy-src="https://dotb.vn/wp-content/uploads/education.png" sizes="(max-width: 1200px) 100vw, 1200px" srcset="https://dotb.vn/wp-content/uploads/education.png 1200w, https://dotb.vn/wp-content/uploads/education-768x512.png 768w" data-was-processed="true"><noscript><img width="1200" height="800" src="https://dotb.vn/wp-content/uploads/education.png" class="attachment-large size-large" alt="" srcset="https://dotb.vn/wp-content/uploads/education.png 1200w, https://dotb.vn/wp-content/uploads/education-768x512.png 768w" sizes="(max-width: 1200px) 100vw, 1200px" /></noscript>						
					</div>
								
<style scope="scope">

#image_774170914 {
  width: 100%;
}
</style>
	</div>
	
</div></div>

<style scope="scope">

</style>
</div>
		</div><!-- .section-content -->

		
<style scope="scope">

#section_2060336443 {
  padding-top: 20px;
  padding-bottom: 20px;
}
</style>
	</section>
	
	<section class="section" id="section_1648542879">
		<div class="bg section-bg fill bg-fill  bg-loaded">

			
			
			

		</div><!-- .section-bg -->

		<div class="section-content relative">
			
<div class="container section-title-container" style="margin-top:29px;"><h1 class="section-title section-title-center"><b></b><span class="section-title-main" style="color:rgb(1, 101, 159);"><i class="icon-heart"></i>Triết lý kinh doanh</span><b></b></h1></div><!-- .section-title -->
<div class="row" id="row-2067197486">
<div class="col medium-6 small-12 large-6"><div class="col-inner">
<p><span style="font-size: 100%; color: #00698f; text-align: justify;"><a href="https://dotb.vn/ve-chung-toi/">DOTB</a>, chúng tôi nhận thấy mục tiêu cuối cùng của việc kinh doanh là thực hiện hoài bão, cùng nhau mang đến những điều ý nghĩa, niềm vui mỗi ngày và hạnh phúc cho cuộc sống này.</span></p>
<ul>
<li><em><span style="font-size: 100%; color: #00698f;">Khách hàng hài lòng – đồng hành dài lâu với doanh nghiệp.</span></em></li>
<li><em><span style="font-size: 100%; color: #00698f;">Nhân viên chủ động cống hiến – nhận được những thành quả xứng đáng.</span></em></li>
<li><em><span style="font-size: 100%; color: #00698f;">Doanh nghiệp phát triển hiệu quả – đóng góp giá trị cho xã hội.</span></em></li>
</ul>
<p><span style="font-size: 100%; color: #00698f; text-align: justify;">Do vậy chúng tôi không ngừng nỗ lực, đổi mới nhằm mang đến cho khách hãng những sản phẩm mang giá trị chất lượng, đạt hiệu quả tối ưu.</span></p>
</div></div>
<div class="col medium-6 small-12 large-6"><div class="col-inner">
	<div class="img has-hover x md-x lg-x y md-y lg-y" id="image_1236953659">
						<div data-animate="fadeInUp">		<div class="img-inner box-shadow-5-hover dark">
			<img loading="lazy" width="626" height="417" src="https://dotb.vn/wp-content/uploads/happy.jpg" class="attachment-large size-large lazyloaded" alt="" data-lazy-src="https://dotb.vn/wp-content/uploads/happy.jpg" data-was-processed="true"><noscript><img width="626" height="417" src="https://dotb.vn/wp-content/uploads/happy.jpg" class="attachment-large size-large" alt="" /></noscript>						
					</div>
		</div>						
<style scope="scope">

#image_1236953659 {
  width: 100%;
}
</style>
	</div>
	
</div></div>

<style scope="scope">

</style>
</div>
		</div><!-- .section-content -->

		
<style scope="scope">

#section_1648542879 {
  padding-top: 30px;
  padding-bottom: 30px;
}
</style>
	</section>
	
		
				
</div>
    </section>
</main>